[build]
command = "npx next build"
publish = ".next"

[[plugins]]
package = "@netlify/plugin-nextjs"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "SMTP_SENDER_NAME,NEXT_PUBLIC_GIGS_API,NEXT_PUBLIC_KNOWLEDGE_BASE_URL,MONGODB_URI"