[build]
command = "npx next build"
publish = ".next"

[[plugins]]
package = "@netlify/plugin-nextjs"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "SMTP_SENDER_NAME,NEXT_PUBLIC_GIGS_API,NEXT_PUBLIC_KNOWLEDGE_BASE_URL,MONGODB_URI,NEXT_PUBLIC_SCRIPT_GENERATION_BASE_URL,NEXT_PUBLIC_API_BASE_URL,NEXT_PUBLIC_APP_URL,NEXT_PUBLIC_BACKEND_API,NEXT_PUBLIC_API_URL,NEXT_PUBLIC_DASHBOARD_API_URL,NEXT_PUBLIC_COMPANY_API_URL,NEXT_PUBLIC_DASHBOARD_API"
  SECRETS_SCAN_OMIT_PATHS = ".env,.env.example,.next/**/*"